<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chankin.dao.SysIpForbiddenMapper">
	<resultMap id="BaseResultMap" type="com.chankin.model.entity.SysIpForbidden">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="is_final" jdbcType="INTEGER" property="isFinal" />
		<result column="rank" jdbcType="BIGINT" property="rank" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="create_by" jdbcType="BIGINT" property="createBy" />
		<result column="update_by" jdbcType="BIGINT" property="updateBy" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="expire_time" jdbcType="TIMESTAMP" property="expireTime" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="ip" jdbcType="VARCHAR" property="ip" />
	</resultMap>
	<sql id="Base_Column_List">
    id, is_final, rank, create_time, update_time, create_by, update_by, status, expire_time, 
    description, ip
  </sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_ip_forbidden
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_ip_forbidden
    where id = #{id,jdbcType=BIGINT}
  </delete>

	<select id="selectCounts" resultType="integer">
		select count(*) from sys_ip_forbidden where status = 1
	</select>
	<select id="selectAll" resultType="SysIpForbidden">
		 SELECT *
        FROM sys_ip_forbidden
        WHERE status = 1
	</select>
	<insert id="insert" parameterType="com.chankin.model.entity.SysIpForbidden">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into sys_ip_forbidden (is_final, rank, create_time,
		update_time, create_by, update_by,
		status, expire_time, description,
		ip)
		values (#{isFinal,jdbcType=INTEGER}, #{rank,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT}, #{updateBy,jdbcType=BIGINT},
		#{status,jdbcType=TINYINT}, #{expireTime,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR},
		#{ip,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.chankin.model.entity.SysIpForbidden" useGeneratedKeys="true"
		keyProperty="id">
		insert into sys_ip_forbidden
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="isFinal != null">
				is_final,
			</if>
			<if test="rank != null">
				rank,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="expireTime != null">
				expire_time,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="ip != null">
				ip,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="isFinal != null">
				#{isFinal,jdbcType=INTEGER},
			</if>
			<if test="rank != null">
				#{rank,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=BIGINT},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
			<if test="expireTime != null">
				#{expireTime,jdbcType=TIMESTAMP},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				#{ip,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="deleteById">
        UPDATE sys_ip_forbidden
        SET status = 2
        WHERE id = #{id}
    </update>
	<update id="updateByPrimaryKeySelective" parameterType="com.chankin.model.entity.SysIpForbidden">
		update sys_ip_forbidden
		<set>
			<if test="isFinal != null">
				is_final = #{isFinal,jdbcType=INTEGER},
			</if>
			<if test="rank != null">
				rank = #{rank,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=BIGINT},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
			<if test="expireTime != null">
				expire_time = #{expireTime,jdbcType=TIMESTAMP},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				ip = #{ip,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT} and status = 1
	</update>
	<update id="updateByPrimaryKey" parameterType="com.chankin.model.entity.SysIpForbidden">
    update sys_ip_forbidden
    set is_final = #{isFinal,jdbcType=INTEGER},
      rank = #{rank,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
	<select id="isExistIP" resultType="java.lang.Boolean">
		select exists( select * from sys_ip_forbidden where ip = #{ip} and status = 1)
	</select>
</mapper>