<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chankin.dao.SysLogMapper">
	<resultMap id="BaseResultMap" type="com.chankin.model.entity.SysLog">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="rank" jdbcType="BIGINT" property="rank" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="create_by" jdbcType="BIGINT" property="createBy" />
		<result column="update_by" jdbcType="BIGINT" property="updateBy" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="ip" jdbcType="VARCHAR" property="ip" />
		<result column="user_id" jdbcType="VARCHAR" property="userId" />
		<result column="method" jdbcType="VARCHAR" property="method" />
		<result column="duration" jdbcType="BIGINT" property="duration" />
		<result column="url" jdbcType="VARCHAR" property="url" />
		<result column="user_agent" jdbcType="VARCHAR" property="userAgent" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.chankin.model.entity.SysLogWithBLOBs">
		<result column="param" jdbcType="LONGVARCHAR" property="param" />
		<result column="result" jdbcType="LONGVARCHAR" property="result" />
	</resultMap>
	<sql id="Base_Column_List">
    id, rank, create_time, update_time, create_by, update_by, status, ip, user_id, method, 
    duration, url, user_agent
  </sql>
	<sql id="Blob_Column_List">
    param, result
  </sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from sys_log
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
	<insert id="insert" parameterType="com.chankin.model.entity.SysLogWithBLOBs">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into sys_log (rank, create_time, update_time,
		create_by, update_by, status,
		ip, user_id, method,
		duration, url, user_agent,
		param, result)
		values (#{rank,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
		#{createBy,jdbcType=BIGINT}, #{updateBy,jdbcType=BIGINT}, #{status,jdbcType=TINYINT},
		#{ip,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR},
		#{duration,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, #{userAgent,jdbcType=VARCHAR},
		#{param,jdbcType=LONGVARCHAR}, #{result,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.chankin.model.entity.SysLogWithBLOBs">

		insert into sys_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="rank != null">
				rank,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="ip != null">
				ip,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="method != null">
				method,
			</if>
			<if test="duration != null">
				duration,
			</if>
			<if test="url != null">
				url,
			</if>
			<if test="userAgent != null">
				user_agent,
			</if>
			<if test="param != null">
				param,
			</if>
			<if test="result != null">
				result,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="rank != null">
				#{rank,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=BIGINT},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
			<if test="ip != null">
				#{ip,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="method != null">
				#{method,jdbcType=VARCHAR},
			</if>
			<if test="duration != null">
				#{duration,jdbcType=BIGINT},
			</if>
			<if test="url != null">
				#{url,jdbcType=VARCHAR},
			</if>
			<if test="userAgent != null">
				#{userAgent,jdbcType=VARCHAR},
			</if>
			<if test="param != null">
				#{param,jdbcType=LONGVARCHAR},
			</if>
			<if test="result != null">
				#{result,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.chankin.model.entity.SysLogWithBLOBs">
		update sys_log
		<set>
			<if test="rank != null">
				rank = #{rank,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=BIGINT},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
			<if test="ip != null">
				ip = #{ip,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				user_id = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="method != null">
				method = #{method,jdbcType=VARCHAR},
			</if>
			<if test="duration != null">
				duration = #{duration,jdbcType=BIGINT},
			</if>
			<if test="url != null">
				url = #{url,jdbcType=VARCHAR},
			</if>
			<if test="userAgent != null">
				user_agent = #{userAgent,jdbcType=VARCHAR},
			</if>
			<if test="param != null">
				param = #{param,jdbcType=LONGVARCHAR},
			</if>
			<if test="result != null">
				result = #{result,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs" parameterType="com.chankin.model.entity.SysLogWithBLOBs">
    update sys_log
    set rank = #{rank,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      ip = #{ip,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=BIGINT},
      url = #{url,jdbcType=VARCHAR},
      user_agent = #{userAgent,jdbcType=VARCHAR},
      param = #{param,jdbcType=LONGVARCHAR},
      result = #{result,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
	<update id="updateByPrimaryKey" parameterType="com.chankin.model.entity.SysLog">
    update sys_log
    set rank = #{rank,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      ip = #{ip,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      duration = #{duration,jdbcType=BIGINT},
      url = #{url,jdbcType=VARCHAR},
      user_agent = #{userAgent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
	<select id="selectCounts" resultType="integer">
		select count(*) from sys_log where status =1
	</select>
	<select id="selectLog" resultType="SysLog">
		SELECT *
		FROM sys_log
		WHERE
		status =1
		<if test=" method != null and method.length() != 0">
			AND method LIKE concat('%', #{method},'%')
		</if>
		<if test="param != null and param.length() != 0">
			AND param LIKE concat('%', #{param},'%')
		</if>
		<if test="result != null and result.length() != 0">
			AND result LIKE concat('%', #{result},'%')
		</if>
		<if test="url != null and result.length() != 0 ">
			AND url LIKE concat('%', #{url},'%')
		</if>
		<if test="sort !=''">
			ORDER BY ${sort}
		</if>
		<if test="order != ''">
			${order}
		</if>
	</select>
</mapper>