<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chankin.dao.SysPermissionGroupMapper">
	<resultMap id="BaseResultMap" type="com.chankin.model.entity.SysPermissionGroup">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="parent_id" jdbcType="BIGINT" property="parentId" />
		<result column="is_final" jdbcType="INTEGER" property="isFinal" />
		<result column="rank" jdbcType="BIGINT" property="rank" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="create_by" jdbcType="BIGINT" property="createBy" />
		<result column="update_by" jdbcType="BIGINT" property="updateBy" />
		<result column="status" jdbcType="TINYINT" property="status" />
	</resultMap>
	<sql id="Base_Column_List">
    id, name, description, parent_id, is_final, rank, create_time, update_time, create_by, 
    update_by, status
  </sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_permission_group
		where id = #{id,jdbcType=BIGINT}
	</select>

	<select id="isExistName" resultType="java.lang.Boolean">
		SELECT EXISTS (SELECT * FROM sys_permission WHERE status = 1 AND name = #{name} AND sys_permission_group_id = #{groupId})
	</select>

	<select id="isExistCode" resultType="java.lang.Boolean">
		SELECT EXISTS (SELECT * FROM sys_permission WHERE status = 1 AND code = #{code} AND sys_permission_group_id = #{groupId})
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_permission_group
    where id = #{id,jdbcType=BIGINT}
  </delete>

	<select id="isExistGroupName" resultType="java.lang.Boolean">
        SELECT exists(
                SELECT *
                FROM sys_permission_group
                WHERE status = 1 AND name = #{name}
        )
    </select>

	<select id="selectById" parameterType="long" resultType="SysPermissionGroup">
        SELECT *
        FROM sys_permission_group
        WHERE id = #{id} AND status = 1
    </select>

	<insert id="insert" parameterType="com.chankin.model.entity.SysPermissionGroup">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into sys_permission_group (name, description, parent_id,
		is_final, rank, create_time,
		update_time, create_by, update_by,
		status)
		values (#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{parentId,jdbcType=BIGINT},
		#{isFinal,jdbcType=INTEGER}, #{rank,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT}, #{updateBy,jdbcType=BIGINT},
		#{status,jdbcType=TINYINT})
	</insert>

	<select id="selectAll" resultType="SysPermissionGroup">
        SELECT *
        FROM sys_permission_group
        WHERE status = 1
    </select>

	<insert id="insertSelective" parameterType="com.chankin.model.entity.SysPermissionGroup" useGeneratedKeys="true"
		keyProperty="id">
		insert into sys_permission_group
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">
				name,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="isFinal != null">
				is_final,
			</if>
			<if test="rank != null">
				rank,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="status != null">
				status,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=BIGINT},
			</if>
			<if test="isFinal != null">
				#{isFinal,jdbcType=INTEGER},
			</if>
			<if test="rank != null">
				#{rank,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=BIGINT},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.chankin.model.entity.SysPermissionGroup">
		update sys_permission_group
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=BIGINT},
			</if>
			<if test="isFinal != null">
				is_final = #{isFinal,jdbcType=INTEGER},
			</if>
			<if test="rank != null">
				rank = #{rank,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=BIGINT},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.chankin.model.entity.SysPermissionGroup">
    update sys_permission_group
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      is_final = #{isFinal,jdbcType=INTEGER},
      rank = #{rank,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>