<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chankin.dao.SysRoleOrganizationMapper">
	<resultMap id="BaseResultMap" type="com.chankin.model.entity.SysRoleOrganization">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="sys_organization_id" jdbcType="BIGINT" property="sysOrganizationId" />
		<result column="sys_role_id" jdbcType="BIGINT" property="sysRoleId" />
		<result column="parent_id" jdbcType="BIGINT" property="parentId" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="full_name" jdbcType="VARCHAR" property="fullName" />
		<result column="description" jdbcType="VARCHAR" property="description" />
		<result column="rank" jdbcType="BIGINT" property="rank" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="create_by" jdbcType="BIGINT" property="createBy" />
		<result column="update_by" jdbcType="BIGINT" property="updateBy" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="is_final" jdbcType="TINYINT" property="isFinal" />
	</resultMap>
	<sql id="Base_Column_List">
    id, sys_organization_id, sys_role_id, parent_id, name, full_name, description, rank, 
    create_time, update_time, create_by, update_by, status, is_final
  </sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultType="SysRoleOrganization">
	   SELECT *
        FROM sys_role_organization
        WHERE id = #{id} AND status = 1
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_role_organization
    where id = #{id,jdbcType=BIGINT}
  </delete>
	<insert id="insert" parameterType="com.chankin.model.entity.SysRoleOrganization">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into sys_role_organization (sys_organization_id, sys_role_id, parent_id,
		name, full_name, description,
		rank, create_time, update_time,
		create_by, update_by, status,
		is_final)
		values (#{sysOrganizationId,jdbcType=BIGINT}, #{sysRoleId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT},
		#{name,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
		#{rank,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
		#{createBy,jdbcType=BIGINT}, #{updateBy,jdbcType=BIGINT}, #{status,jdbcType=TINYINT},
		#{isFinal,jdbcType=TINYINT})
	</insert>
	<insert id="insertSelective" keyProperty="id" parameterType="com.chankin.model.entity.SysRoleOrganization"
		useGeneratedKeys="true">
		insert into sys_role_organization
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sysOrganizationId != null">
				sys_organization_id,
			</if>
			<if test="sysRoleId != null">
				sys_role_id,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="fullName != null">
				full_name,
			</if>
			<if test="description != null">
				description,
			</if>
			<if test="rank != null">
				rank,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="isFinal != null">
				is_final,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sysOrganizationId != null">
				#{sysOrganizationId,jdbcType=BIGINT},
			</if>
			<if test="sysRoleId != null">
				#{sysRoleId,jdbcType=BIGINT},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="fullName != null">
				#{fullName,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				#{description,jdbcType=VARCHAR},
			</if>
			<if test="rank != null">
				#{rank,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=BIGINT},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
			<if test="isFinal != null">
				#{isFinal,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.chankin.model.entity.SysRoleOrganization">
		update sys_role_organization
		<set>
			<if test="sysOrganizationId != null">
				sys_organization_id = #{sysOrganizationId,jdbcType=BIGINT},
			</if>
			<if test="sysRoleId != null">
				sys_role_id = #{sysRoleId,jdbcType=BIGINT},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=BIGINT},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="fullName != null">
				full_name = #{fullName,jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				description = #{description,jdbcType=VARCHAR},
			</if>
			<if test="rank != null">
				rank = #{rank,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=BIGINT},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
			<if test="isFinal != null">
				is_final = #{isFinal,jdbcType=TINYINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT} and status = 1
	</update>
	<update id="updateByPrimaryKey" parameterType="com.chankin.model.entity.SysRoleOrganization">
    update sys_role_organization
    set sys_organization_id = #{sysOrganizationId,jdbcType=BIGINT},
      sys_role_id = #{sysRoleId,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      full_name = #{fullName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      is_final = #{isFinal,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

	<select id="isExistName" resultType="java.lang.Boolean">
		select exists (select * from sys_role_organization status = 1 and name = #{name} and parentId = #{parentId})
	</select>

	<select id="isExistNameExcludeId" resultType="java.lang.Boolean">
		select exists (select * from sys_role_organization status = 1 and name = #{name} and parentId = #{parentId}) and id !=#{id}
	</select>

	<select id="selectCounts" resultType="integer">
		select count(*) from sys_role_organization where status = 1
	</select>

	<select id="selectChildren" resultType="SysRoleOrganization">
		select * from sys_role_organization where status = 1 and parentId = #{parentId}
	</select>

	<select id="selectByRoleId" resultType="long">
        SELECT id FROM sys_role_organization WHERE status = 1 AND sys_role_id = #{roleId}
    </select>


</mapper>