<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chankin.dao.SysUserRoleOrganizationMapper">
	<resultMap id="BaseResultMap" type="com.chankin.model.entity.SysUserRoleOrganization">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="sys_user_id" jdbcType="BIGINT" property="sysUserId" />
		<result column="sys_role_organization_id" jdbcType="BIGINT" property="sysRoleOrganizationId" />
		<result column="rank" jdbcType="BIGINT" property="rank" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="create_by" jdbcType="BIGINT" property="createBy" />
		<result column="update_by" jdbcType="BIGINT" property="updateBy" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="is_final" jdbcType="TINYINT" property="isFinal" />
	</resultMap>
	<sql id="Base_Column_List">
    id, sys_user_id, sys_role_organization_id, rank, create_time, update_time, create_by, 
    update_by, status, is_final
  </sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user_role_organization
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_user_role_organization
    where id = #{id,jdbcType=BIGINT}
  </delete>
	<insert id="insert" parameterType="com.chankin.model.entity.SysUserRoleOrganization">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into sys_user_role_organization (sys_user_id, sys_role_organization_id, rank,
		create_time, update_time, create_by,
		update_by, status, is_final
		)
		values (#{sysUserId,jdbcType=BIGINT}, #{sysRoleOrganizationId,jdbcType=BIGINT}, #{rank,jdbcType=BIGINT},
		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT},
		#{updateBy,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, #{isFinal,jdbcType=TINYINT}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.chankin.model.entity.SysUserRoleOrganization">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into sys_user_role_organization
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="sysUserId != null">
				sys_user_id,
			</if>
			<if test="sysRoleOrganizationId != null">
				sys_role_organization_id,
			</if>
			<if test="rank != null">
				rank,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="isFinal != null">
				is_final,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="sysUserId != null">
				#{sysUserId,jdbcType=BIGINT},
			</if>
			<if test="sysRoleOrganizationId != null">
				#{sysRoleOrganizationId,jdbcType=BIGINT},
			</if>
			<if test="rank != null">
				#{rank,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=BIGINT},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
			<if test="isFinal != null">
				#{isFinal,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.chankin.model.entity.SysUserRoleOrganization">
		update sys_user_role_organization
		<set>
			<if test="sysUserId != null">
				sys_user_id = #{sysUserId,jdbcType=BIGINT},
			</if>
			<if test="sysRoleOrganizationId != null">
				sys_role_organization_id = #{sysRoleOrganizationId,jdbcType=BIGINT},
			</if>
			<if test="rank != null">
				rank = #{rank,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=BIGINT},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
			<if test="isFinal != null">
				is_final = #{isFinal,jdbcType=TINYINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.chankin.model.entity.SysUserRoleOrganization">
    update sys_user_role_organization
    set sys_user_id = #{sysUserId,jdbcType=BIGINT},
      sys_role_organization_id = #{sysRoleOrganizationId,jdbcType=BIGINT},
      rank = #{rank,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      is_final = #{isFinal,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
	<select id="selectByUserId" resultType="SysUserRoleOrganization">
		select * from sys_user_role_organization where status = 1 and sys_user_id = #{userId}
	</select>
	<update id="deleteByUserId" parameterType="java.lang.Long">
		UPDATE sys_user_role_organization  SET status = 2
        WHERE sys_user_id = #{userId}
	</update>

	<select id="selectByRoleOrganizationId" resultType="java.lang.Long">
        SELECT sys_user_id
        FROM sys_user_role_organization
        WHERE status = 1 AND sys_role_organization_id = #{roleOrganizationId}
    </select>


</mapper>