<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chankin.dao.SysUserMapper">
	<resultMap id="BaseResultMap" type="com.chankin.model.entity.SysUser">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="login_name" jdbcType="VARCHAR" property="loginName" />
		<result column="zh_name" jdbcType="VARCHAR" property="zhName" />
		<result column="en_name" jdbcType="VARCHAR" property="enName" />
		<result column="sex" jdbcType="INTEGER" property="sex" />
		<result column="birth" jdbcType="VARCHAR" property="birth" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="password_salt" jdbcType="VARCHAR" property="passwordSalt" />
		<result column="rank" jdbcType="BIGINT" property="rank" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="create_by" jdbcType="BIGINT" property="createBy" />
		<result column="update_by" jdbcType="BIGINT" property="updateBy" />
		<result column="status" jdbcType="TINYINT" property="status" />
		<result column="is_final" jdbcType="TINYINT" property="isFinal" />
	</resultMap>
	<sql id="Base_Column_List">
    id, login_name, zh_name, en_name, sex, birth, email, phone, address, password, password_salt, 
    rank, create_time, update_time, create_by, update_by, status, is_final
  </sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from sys_user
		where id = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
	<insert id="insert" parameterType="com.chankin.model.entity.SysUser">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into sys_user (login_name, zh_name, en_name,
		sex, birth, email,
		phone, address, password,
		password_salt, rank, create_time,
		update_time, create_by, update_by,
		status, is_final)
		values (#{loginName,jdbcType=VARCHAR}, #{zhName,jdbcType=VARCHAR}, #{enName,jdbcType=VARCHAR},
		#{sex,jdbcType=INTEGER}, #{birth,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
		#{passwordSalt,jdbcType=VARCHAR}, #{rank,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT}, #{updateBy,jdbcType=BIGINT},
		#{status,jdbcType=TINYINT}, #{isFinal,jdbcType=TINYINT})
	</insert>
	<insert id="insertSelective" parameterType="com.chankin.model.entity.SysUser">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into sys_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="loginName != null">
				login_name,
			</if>
			<if test="zhName != null">
				zh_name,
			</if>
			<if test="enName != null">
				en_name,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="birth != null">
				birth,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="passwordSalt != null">
				password_salt,
			</if>
			<if test="rank != null">
				rank,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="createBy != null">
				create_by,
			</if>
			<if test="updateBy != null">
				update_by,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="isFinal != null">
				is_final,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="loginName != null">
				#{loginName,jdbcType=VARCHAR},
			</if>
			<if test="zhName != null">
				#{zhName,jdbcType=VARCHAR},
			</if>
			<if test="enName != null">
				#{enName,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=INTEGER},
			</if>
			<if test="birth != null">
				#{birth,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="passwordSalt != null">
				#{passwordSalt,jdbcType=VARCHAR},
			</if>
			<if test="rank != null">
				#{rank,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				#{createBy,jdbcType=BIGINT},
			</if>
			<if test="updateBy != null">
				#{updateBy,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				#{status,jdbcType=TINYINT},
			</if>
			<if test="isFinal != null">
				#{isFinal,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.chankin.model.entity.SysUser">
		update sys_user
		<set>
			<if test="loginName != null">
				login_name = #{loginName,jdbcType=VARCHAR},
			</if>
			<if test="zhName != null">
				zh_name = #{zhName,jdbcType=VARCHAR},
			</if>
			<if test="enName != null">
				en_name = #{enName,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=INTEGER},
			</if>
			<if test="birth != null">
				birth = #{birth,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="passwordSalt != null">
				password_salt = #{passwordSalt,jdbcType=VARCHAR},
			</if>
			<if test="rank != null">
				rank = #{rank,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createBy != null">
				create_by = #{createBy,jdbcType=BIGINT},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy,jdbcType=BIGINT},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=TINYINT},
			</if>
			<if test="isFinal != null">
				is_final = #{isFinal,jdbcType=TINYINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT} and status != 2
	</update>
	<update id="updateByPrimaryKey" parameterType="com.chankin.model.entity.SysUser">
    update sys_user
    set login_name = #{loginName,jdbcType=VARCHAR},
      zh_name = #{zhName,jdbcType=VARCHAR},
      en_name = #{enName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      birth = #{birth,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      password_salt = #{passwordSalt,jdbcType=VARCHAR},
      rank = #{rank,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=BIGINT},
      update_by = #{updateBy,jdbcType=BIGINT},
      status = #{status,jdbcType=TINYINT},
      is_final = #{isFinal,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT} and status != 2
  </update>
	<select id="selectUserByLoginName" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from sys_user where status != 2 and login_name =#{loginName}
	</select>

	<select id="selectByLoginName" resultType="boolean">
		select exists(
				select * from sys_user where status ！= 2 and login_name = #{loginName}
		)
	</select>

	<select id="isExistLoginNameExcludeId" resultType="java.lang.Boolean">
		select exists(
		select * from sys_user where status != 2 and id = #{id} and login_name = #{loginName}
		)
	</select>

	<select id="selectById" parameterType="long" resultType="SysUser">
        SELECT *
        FROM sys_user
        WHERE id = #{id} AND status != 2
    </select>

	<select id="selectCounts" resultType="integer">
		select count(*)
		from sys_user where status != 2
	</select>

	<select id="selectAll" resultType="SysUser">
		select * from sys_user where status != 2
		<if test="loginName != null and loginName.length() != 0 ">
			and login_name like concat('%',#{loginName},'%')
		</if>
		<if test="zhName != null and zhName.length() != 0 ">
			and zhName like concat('%',#{zhName},'%')
		</if>
		<if test="email != null and email.length() != 0 ">
			and email like concat('%',#{email},'%')
		</if>
		<if test="phone != null and phone.length() != 0 ">
			and phone like concat('%',#{phone},'%')
		</if>
		<if test="address != null and address.length() != 0 ">
			and address like concat('%',#{address},'%')
		</if>
		<if test="sort != ''">
			order by #{sort}
		</if>
		<if test="order != ''">
			#{order}
		</if>

	</select>
</mapper>